<div class = "container">
    <div class="row justify-content-center">
        <div id="loginwindow" class="col-md-6">
            <p class="fs-1 fw-bold text-center text-white" id="logintext">Upload Project</p>
                <div class="row">
                    <form (ngSubmit)="uploadProject()" #loginForm="ngForm">
                        <div class="mb-3">
                            <label class="form-label text-white">Project Name</label>            
                            <input class="form-control loginfield"  type = "text" [(ngModel)]="projectName" name="projectName" required /><br>
                        </div>
    
                        <div class="mb-3">
                            <label class="form-label text-white">Image URL: <input class="form-control loginfield" type = "url" [(ngModel)]="imageUrl" name="imageUrl" required /></label><br>      
                            <div class="form-text text-white">Hint: use an image hosting site like Imgur and copy the image address</div>                 
                        </div>
    
                        <div class="mb-3">
                            <label class="form-label text-white">Description: </label><textarea class="form-control loginfield" [(ngModel)]="description" name="description" rows="4" cols="50"></textarea><br>
                        </div>
    
                        <div class="mb-3">
                            <label class="form-label text-white">External Link: <input class="form-control loginfield" type = "url" [(ngModel)]="projectLink" name="projectLink" required /></label><br>
                        </div>
    
                        <div class="mb-3 d-grid gap-2">
                            <button type = "submit" class="btn btn-light btn-lg">Create Project</button>  
                        </div>
    
                         <!-- <label>Description: <input type = "text" [(ngModel)]="description" name="description" required /></label><br> -->                        
                        
                    </form>                 

                </div>
        </div>          
    </div>
        
</div>




