<form (ngSubmit)="uploadProject()" #loginForm="ngForm">
    <label>Project Name: <input type = "text" [(ngModel)]="projectName" name="projectName" required /></label><br>
    <label>Image URL: <input type = "url" [(ngModel)]="imageUrl" name="imageUrl" required /></label><br>
    <!-- <label>Description: <input type = "text" [(ngModel)]="description" name="description" required /></label><br> -->
    <label>Description: </label><textarea [(ngModel)]="description" name="description" rows="4" cols="50"></textarea><br>
    <label>External Link: <input type = "url" [(ngModel)]="projectLink" name="projectLink" required /></label><br>
    <button type = "submit">Create Project</button>   
</form>