:host {
    display: block;
    background-color: rgb(62, 0, 0); /* For browsers that do not support gradients */
    background-image: linear-gradient(rgb(159, 19, 19), rgb(24, 6, 6));
    height:100vh;
}