<div class = "container">
    <div class="row justify-content-center">
        <div id="aboutuswindow" class="col-md-10">                   
            <div class="row">
                <p class="fs-1 fw-bold text-center text-white" id="aboutustext">About Us</p><br>
            </div>  
            <div class="row justify-content-center">
                <img src="assets/finalE2.png" id = "gamalystimage" alt="Group Gamalyst">     
            </div>   
            <div class="row">
                <p class="text-white"> 
                    Welcome to Group Gamalyst Community, where passion for gaming meets innovative game development! Established in 2023, we have been dedicated to crafting captivating and cutting-edge gaming experiences that transport players to new realms of excitement and wonder.
    Our talented team of developers, designers, and storytellers collaborate to bring your gaming fantasies to life. From gripping narratives to visually stunning graphics, we pride ourselves on delivering games that leave a lasting impression.
    At Group Gamalyst Community, we believe in pushing the boundaries of creativity and technology. Our commitment to quality and player satisfaction drives us to explore new possibilities and redefine the gaming landscape.
    Join us on a journey through the extraordinary. Explore our showcased games and witness the dedication and craftsmanship that goes into each creation. Thank you for being a part of our gaming adventure!
                </p>
            </div>
        </div>     
        
    </div>
    
</div>
