<div class="row justify-content-center">
    <div class="col-md-10">
          <div ngbAccordion class="projectlist">
            <div ngbAccordionItem *ngFor="let project of projects$ | async" >
              <div ngbAccordionHeader>
                <button ngbAccordionButton class="projectitem">
                    <div style="margin-right: 20px;">
                        <img [src]="project.imageUrl" [alt]="project.name + ' Image'" class="samplepicture"/>
                    </div>                    
                    <p class = "text-white"> <span class = "fs-4 fw-bold">  {{ project.name}}</span> by {{ project.author }}</p>
                </button>
              </div>
              <div ngbAccordionCollapse>
                <div ngbAccordionBody>
                    <img [src]="project.imageUrl" [alt]="project.name + ' Image'" class = "displaypicture"/><br>
                    <strong>Project Description:</strong> <br>
                    <p>{{ project.description }}</p>
                    <a class= "btn btn-primary" [href]="project.projectLink">Go to Project</a>
                    <button 
                        [hidden]="!(userService.isAdmin || (userService.currentUser.username === project.author))"
                        type="button" 
                        class="btn btn-danger"
                        (click) = "deleteProject(project.id, project.name)">
                      Delete</button>
                </div>
              </div>
            </div>
          </div>
    </div>
</div>




