.activebutton {
    background-color: rgb(139, 212, 188);
}

.f1{
   font-family: 'Times New Roman', Times, serif; 
   font-style: bold;
   color: rgb(255, 255, 255);
   text-align: left;
}

.f2{
    font-family: 'Times New Roman', Times, serif; 
    color: rgb(255, 255, 255);
    text-align: left;
 }

.button{
    color: white;
    background-color: rgb(128, 33, 33);
    font-size: larger;
    padding: 5px 20px;
    border-radius: 16px;
}

#footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    background: #6cf;
 }