<div class="card" style="background-color: rgb(24, 102, 24);">
  <div class="card-body">
    <div class="container">
      <div class="row">
        <div class="col"> <!--First-->
          <h1 class="f1">University of San Jose-Recoletos</h1>
          <h3 class="f1">Bachelor of Science in Entertainment, Multimedia, and Computing</h3>       
        </div>
        <div class="col" > <!--Second-->
          <nav>
            <a class="button" 
                routerLink="">
              Home</a> |
            <a class="button" 
                routerLink="/projects" 
                routerLinkActive="activebutton"
                ariaCurrentWhenActive="page">
              Projects</a> |
            <a class="button" 
                routerLink="/students" 
                routerLinkActive="activebutton"
                ariaCurrentWhenActive="page">
              Students</a>
          </nav>
        </div>
      </div>
    </div> 
  </div>
  <a class="button" 
    routerLink="/login"
    ariaCurrentWhenActive="page">
    Login</a>
  <p *ngIf="userService.currentUser"> Logged in as {{ userService.currentUser.username }}</p>
</div>


<router-outlet></router-outlet>