<div class="card" style="background-color: rgb(0, 0, 0);">
  <div class="card-body">
    <div class="container">
      <div class="row">

        <div class="col-6"> <!--First-->
          <h1 class="f1">Group Gamalyst Community</h1>
          <h4 class="f2">Welcome to the birthplace of our dynasty!</h4>       
        </div>

        <div class="col-2"> <!--Keep this empty-->
     
        </div>

        <div class="col-4"> <!--Second-->
          <nav>
            <a class="button"  
                routerLink="">
              Home</a> |
            <a class="button" 
                routerLink="/projects" 
                routerLinkActive="activebutton"
                ariaCurrentWhenActive="page">
              Projects</a> |
            <a class="button" 
                routerLink="/students" 
                routerLinkActive="activebutton"
                ariaCurrentWhenActive="page">
              Students</a>
          </nav>
        </div>

      </div>
    </div> 
  </div>
  <a class="button" 
      *ngIf="userService.currentUser.username"
      routerLink="/upload"
      ariaCurrentWhenActive="page">
    Upload Project</a>
    
  <div *ngIf="!userService.currentUser.username">
    <a class="button" 
        routerLink="/login"
        ariaCurrentWhenActive="page">
      Login</a>
    <a class="button" 
        routerLink="/signup"
        ariaCurrentWhenActive="page">  
      Sign Up</a>
  </div>
 
  <!-- <p *ngIf="auth.user"> Logged in as {{ userService.currentUser.username }}</p> -->
  <p *ngIf="userService.currentUser.username"> Logged in as {{ userService.currentUser.username }}</p>
</div>


<router-outlet></router-outlet>

<div id="footer"></div>