.activebutton {
    background-color: rgb(139, 212, 188);
}

.f1{
   font-family: 'Times New Roman', Times, serif; 
   font-style: bold;
   color: rgb(255, 255, 255);
   text-align: left;
}

.f2{
    font-family: 'Times New Roman', Times, serif; 
    color: rgb(255, 255, 255);
    text-align: left;
 }

.button{
    color: white;
    background-color: rgb(128, 33, 33);
    font-size: larger;
    padding: 5px 20px;
    border-radius: 16px;
}

:host {
    display: block;
    background-color: rgb(62, 0, 0); /* For browsers that do not support gradients */
    background-image: linear-gradient(rgb(159, 19, 19), rgb(24, 6, 6));
    height:100vh;
}



