<h1>Group Gamalyst Test</h1>
<nav>
  <a class="button" 
      routerLink="">
    Home</a> |
  <a class="button" 
      routerLink="/projects" 
      routerLinkActive="activebutton"
      ariaCurrentWhenActive="page">
    Projects</a> |
  <a class="button" 
      routerLink="/students" 
      routerLinkActive="activebutton"
      ariaCurrentWhenActive="page">
    Students</a>
</nav>
<div class="card" style="width: 18rem;">
  <ul class="list-group list-group-flush">
    <li class="list-group-item">An item</li>
    <li class="list-group-item">A second item</li>
    <li class="list-group-item">A third item</li>
  </ul>
</div>

<router-outlet></router-outlet>