.activebutton {
    background-color: rgb(139, 212, 188);
}

.f1{
   font-family: 'Times New Roman', Times, serif; 
   color: rgb(255, 255, 59);
}

.button{
    color: white;
    background-color: rgb(32, 145, 89);
    font-size: larger;
    padding: 5px 20px;
    border-radius: 16px;
}