<html>
<head>
    <title> DOES NOT WORK HOME</title>
</head>
<body>

    <div class="container">
        <div class = "home-title">
            <h1>Explore Our Exciting Games</h1>
            <p>Discover immersive worlds and thrilling experiences.</p>
        </div>

        <div class = "home-about-us">
            <img src="assets/home_image_2.jpg" alt="About Us">
            <h2>About Us</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua.</p>
        </div>

    </div>



</body>


</html>

