<html>
<head>
    <title> DOES NOT WORK HOME</title>
</head>
<body>

    <div class="container">
        <div class = "home-title">
            <h1>Explore Our Exciting Games</h1>
            <p>Discover immersive worlds and thrilling experiences.</p>
        </div>

        <div class = "home-about-us">
            <img src="assets/home_image_2.jpg" alt="About Us">
            <h2>About Us</h2>
            <p>Welcome to Group Gamalyst Community, where passion for gaming meets innovative game development! Established in 2023, we have been dedicated to crafting captivating and cutting-edge gaming experiences that transport players to new realms of excitement and wonder.
            Our talented team of developers, designers, and storytellers collaborate to bring your gaming fantasies to life. From gripping narratives to visually stunning graphics, we pride ourselves on delivering games that leave a lasting impression.
            At Group Gamalyst Community, we believe in pushing the boundaries of creativity and technology. Our commitment to quality and player satisfaction drives us to explore new possibilities and redefine the gaming landscape.
            Join us on a journey through the extraordinary. Explore our showcased games and witness the dedication and craftsmanship that goes into each creation. Thank you for being a part of our gaming adventure!</p>
        </div>

    </div>



</body>


</html>

